version: "3.7"

services:

  app_proxy:
    environment:
      APP_HOST: jakubkarafa-tandoor-recipes_web_1
      APP_PORT: 8080

  web:
    image: vabene1111/recipes:latest
    container_name: tandoor_web
    restart: unless-stopped
    environment:
      - SECRET_KEY=super-secret-key
      - DB_ENGINE=django.db.backends.postgresql
      - POSTGRES_HOST=db
      - POSTGRES_PORT=5432
      - POSTGRES_USER=tandoor
      - POSTGRES_PASSWORD=tandoorpass
      - POSTGRES_DB=tandoor
    volumes:
      - tandoor-static:/opt/recipes/staticfiles
      - tandoor-media:/opt/recipes/mediafiles
    depends_on:
      - db

  db:
    image: postgres:13
    container_name: tandoor_db
    restart: unless-stopped
    environment:
      - POSTGRES_USER=tandoor
      - POSTGRES_PASSWORD=tandoorpass
      - POSTGRES_DB=tandoor
    volumes:
      - tandoor-db:/var/lib/postgresql/data

volumes:
  tandoor-static:
  tandoor-media:
  tandoor-db:
